@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Poppins:wght@400;500;600&display=swap");
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

aside,
nav,
footer,
header,
section {
	display: block;
}

html,
body {
	height: 100%;
	min-width: 320px;
}

body {
	line-height: 1;
	font-family: "Lato";
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: "Lato";
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

body {
	color: #000;
	font-size: 14px;
}
body.lock {
	overflow: hidden;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}
.container {
	max-width: 1190px;
	margin: 0 auto;
	width: 100%;
	padding: 0px 10px;
}

.btn {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	padding: 0px 36px;
	height: 40px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	color: #ffffff;
	font-family: Lato;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	background-color: #ffb600;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.btn:hover {
	-webkit-box-shadow: 0 0 15px #ffb600;
	        box-shadow: 0 0 15px #ffb600;
}
.btn.fw {
	width: 100%;
}
.btn-b:hover {
	background-color: #1b273d;
	-webkit-box-shadow: 0 0 15px #1b273d;
	        box-shadow: 0 0 15px #1b273d;
}

input[type=text], input[type=email], input[type=tel], textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.input {
	border-radius: 0 !important;
	width: 100%;
	display: block;
}
.check {
	position: relative;
	padding-left: 25px;
	color: #5f5f5f;
	line-height: 18px;
	cursor: pointer;
}
.check input {
	display: none;
}
.check:before {
	content: "";
	left: 0;
	top: 0;
	width: 18px;
	height: 18px;
	border: 1px solid #a3a3a3;
	position: absolute;
}
.check.active:before {
	background: url("../img/icons/check.png") center no-repeat;
}

ol.counter {
	list-style-type: none;
	counter-reset: item;
}
ol.counter li {
	position: relative;
	padding: 0px 0px 0px 45px;
}
ol.counter li:before {
	counter-increment: item;
	content: counter(item);
	position: absolute;
	left: 0;
	top: 0;
	color: #818181;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	line-height: 26px;
	border-radius: 50%;
	width: 28px;
	height: 28px;
	border: 1px solid #4274bb;
}

.ibg {
	position: relative;
}
.ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-o-object-fit: cover;
	   object-fit: cover;
}

body.ie .ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
body.ie .ibg img {
	width: 0;
	height: 0;
	opacity: 0;
	visibility: hidden;
}

.slick-slider {
	position: relative;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.slick-slider .slick-list {
	position: relative;
	overflow: hidden;
	width: 100%;
}
.slick-slider .slick-track {
	position: relative;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
}
.slick-slider .slick-slide {
	position: relative;
}
.header {
	position: fixed;
	width: 100%;
	z-index: 100;
}
.top-header {
	background-color: #f8f8f8;
	width: 100%;
	padding: 10px 0px;
}
.top-header__container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
@media (max-width: 780.98px) {
	.top-header__container {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
}
.top-header__cosial {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.top-header__link {
	margin: 0px 7px;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.top-header__link:hover .top-header__svg {
	fill: #ffb600;
}
.top-header__link:first-child {
	margin: 0px 7px 0px 0px;
}
.top-header__svg {
	fill: #919191;
}
.top-header__time {
	color: #919191;
	font-family: Lato;
	font-size: 12px;
	font-weight: 400;
	padding: 0px 0px 0px 29px;
	line-height: 14px;
	background: url("../img/icon/icon_03.png") left no-repeat;
}
@media (max-width: 780.98px) {
	.top-header__time {
		display: none;
	}
}

.center-header {
	padding: 30px 0px;
	position: relative;
	background-color: #fff;
}
@media (max-width: 780.98px) {
	.center-header {
		padding: 10px 0px;
	}
}
.center-header__container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.center-header__logo {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
}
.center-header__logo img {
	max-width: 100%;
}
@media (max-width: 780.98px) {
	.center-header__logo {
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		    -ms-transform: translate(-50%, -50%);
		        transform: translate(-50%, -50%);
		width: 170px;
	}
}
.bottom-header {
	background-color: #1b273d;
	padding: 10px 0px;
}
@media (max-width: 780.98px) {
	.bottom-header {
		padding: 0;
		background-color: #fff;
	}
}
.bottom-header__container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.bottom-header__menu {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
}
.bottom-header__link {
	margin: 0px 10px;
}
.bottom-header__link:last-child {
	margin: 0px 0px 10px 0px;
}
@media (max-width: 780.98px) {
	.bottom-header__link {
		margin: 0px 10px;
	}
	.bottom-header__link:first-child {
		margin: 0px 0px 7px 0px;
	}
}

.contacts-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.contacts-header__column {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 0px 25px;
}
@media (max-width: 1025.98px) {
	.contacts-header__column {
		margin: 0px 10px;
	}
}
@media (max-width: 780.98px) {
	.contacts-header__column {
		margin: 0;
	}
}
.contacts-header__icon {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 40px;
	height: 40px;
	border: 1px solid #ffb600;
	margin: 0px 20px 0px 0px;
}
.contacts-header__icon:hover {
	-webkit-box-shadow: 0 0 15px #ffb600;
	        box-shadow: 0 0 15px #ffb600;
}
@media (max-width: 1025.98px) {
	.contacts-header__icon {
		margin: 0px 10px 0px 0px;
	}
}
@media (max-width: 780.98px) {
	.contacts-header__icon {
		width: 25px;
		height: 25px;
		margin: 0px 5px 0px 0px;
	}
	.contacts-header__icon-l {
		display: none;
	}
}
.contacts-header__items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
@media (max-width: 900px) {
	.contacts-header__items {
		display: none;
	}
}
.contacts-header__title {
	font-weight: 600;
	line-height: 20px;
	color: #1b273d;
	font-size: 18px;
	margin: 0px 0px 7px 0px;
}
.contacts-header__suptitle {
	color: #919191;
	font-family: Poppins;
	font-weight: 400;
	font-size: 14px;
}
.contacts-header__btn {
	margin: 0px 0px 0px 75px;
}
@media (max-width: 1025.98px) {
	.contacts-header__btn {
		margin: 0px 0px 0px 15px;
	}
}
@media (max-width: 780.98px) {
	.contacts-header__btn {
		display: none;
	}
}

@media (max-width: 780.98px) {
	.menu__body {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: #1b273d;
		padding: 80px 0px 0px 0px;
		z-index: 4;
		opacity: 0;
		visibility: hidden;
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		overflow: auto;
	}
	.menu__body.active {
		opacity: 1;
		visibility: visible;
	}
}
.menu__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.menu__list li {
	margin: 0px 17px;
}
.menu__list li:first-child {
	margin: 0px 17px 0px 0px;
}
@media (max-width: 780.98px) {
	.menu__list {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		text-align: center;
	}
	.menu__list li {
		margin: 20px 0px;
	}
	.menu__list li:first-child {
		margin: 20px 0px;
	}
}
.menu__link {
	color: #ffffff;
	font-family: Poppins;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.menu__link:hover {
	color: #ffb600;
}
@media (max-width: 780.98px) {
	.menu__link {
		font-size: 24px;
		color: #ffb600;
	}
}

.icon-menu {
	display: none;
}
@media (max-width: 780.98px) {
	.icon-menu {
		display: block;
		position: absolute;
		top: 50%;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		-webkit-transform: translate(0px, -50%);
		    -ms-transform: translate(0px, -50%);
		        transform: translate(0px, -50%);
		z-index: 5;
	}
	.icon-menu span {
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		top: 8px;
		left: 0px;
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #1b273d;
	}
	.icon-menu span:first-child {
		top: 0px;
	}
	.icon-menu span:last-child {
		top: auto;
		bottom: 0px;
	}
	.icon-menu.active span {
		background-color: #fff;
		-ms-transform: scale(0);
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	.icon-menu.active span:first-child {
		-ms-transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		top: 8px;
	}
	.icon-menu.active span:last-child {
		-ms-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		bottom: 8px;
	}
}

.footer {
	background-color: #3d424d;
	padding: 80px 0px 0px;
}
@media (max-width: 780.98px) {
	.footer {
		padding: 50px 0px 0px;
	}
}
@media (max-width: 479.98px) {
	.footer {
		padding: 30px 0px 0px;
	}
}
.footer__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin: 0px -15px;
}
.footer__column {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 33.333%;
	        flex: 0 0 33.333%;
	padding: 0px 15px;
	margin: 0px 0px 20px 0px;
}
@media (max-width: 1025.98px) {
	.footer__column {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 50%;
		        flex: 0 0 50%;
	}
}
@media (max-width: 780.98px) {
	.footer__column {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 100%;
		        flex: 0 0 100%;
	}
}
.footer__title {
	color: #ffffff;
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	margin: 0px 0px 20px 0px;
}
.footer__lines {
	margin: 0px 0px 26px 0px;
}
.footer__text {
	color: #dfdfdf;
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 28px;
	margin: 0px 0px 20px 0px;
}
.footer__social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.footer__link {
	margin: 0px 5px;
}
.footer__subtitle {
	color: #ffffff;
	font-family: "Poppins - Semi Bold";
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
}
.footer__suptitle {
	color: #dfdfdf;
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 28px;
	border-bottom: 1px solid #6b7b98;
	padding: 0px 0px 10px 0px;
}
.footer__contact {
	color: #ffb600;
	font-family: Lato;
	font-size: 22px;
	font-weight: 600;
	line-height: 28px;
	margin: 0px 0px 8px 0px;
	display: block;
}

.bottom-footer {
	margin: 40px 0px 0px 0px;
	background-color: #1b273d;
	padding: 25px 0px;
}
.bottom-footer__container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
@media (max-width: 780.98px) {
	.bottom-footer__container {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		text-align: center;
	}
}
.bottom-footer__link {
	color: #68758c;
	font-family: "Poppins";
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	margin: 0px 0px 15px 0px;
}
@media (max-width: 780.98px) {
	.bottom-footer__link {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 100%;
		        flex: 0 0 100%;
	}
}

.main {
	background-color: #3d424d;
	padding: 180px 0px 0px 0px;
	position: relative;
	min-height: 940px;
	height: 100%;
}
@media (max-width: 780.98px) {
	.main {
		padding: 93px 0px 0px 0px;
	}
}
.main__container {
	padding: 0;
}
.main__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.main__column {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 50%;
	        flex: 0 0 50%;
	position: relative;
	min-width: 0;
}
@media (max-width: 780.98px) {
	.main__column {
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 100%;
		        flex: 1 1 100%;
	}
}
.main__content {
	position: absolute;
	top: 50%;
	-webkit-transform: translate(0px, -50%);
	    -ms-transform: translate(0px, -50%);
	        transform: translate(0px, -50%);
	max-width: 584px;
}
@media (max-width: 780.98px) {
	.main__content {
		position: relative;
		padding: 50px 0px;
		text-align: center;
		max-width: none;
	}
}
.main__title {
	color: #eeeeee;
	font-family: "Poppins";
	font-size: 45px;
	font-weight: 600;
	line-height: 45px;
	margin: 0px 0px 20px 0px;
}
.main__title span {
	color: #ffb600;
}
@media (max-width: 479.98px) {
	.main__title {
		font-size: 30px;
		font-weight: 600;
		line-height: 30px;
		margin: 0px 0px 10px 0px;
	}
}
.main__text {
	color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	margin: 0px 0px 47px 0px;
	max-width: 500px;
}
@media (max-width: 780.98px) {
	.main__text {
		max-width: none;
	}
}
@media (max-width: 479.98px) {
	.main__text {
		margin: 0px 0px 17px 0px;
	}
}
.main__slider {
	min-width: 0;
	position: relative;
	height: 100%;
}
.main__slider .slick-dots {
	position: absolute;
	bottom: 60px;
	left: -68px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
}
.main__slider .slick-dots li {
	margin: 0px 5px;
}
.main__slider .slick-dots li button {
	font-size: 0;
	width: 10px;
	height: 10px;
	border: 1px solid #ffffff;
	background-color: transparent;
}
.main__slider .slick-dots li.slick-active button {
	background-color: #ffb600;
}
@media (max-width: 780.98px) {
	.main__slider .slick-dots {
		top: -30px;
		left: 50%;
		-webkit-transform: translate(-50%, 0px);
		    -ms-transform: translate(-50%, 0px);
		        transform: translate(-50%, 0px);
	}
}
.main__slide {
	position: relative;
	min-height: 680px;
	margin: 0px 0px 5px 0px;
}
@media (max-width: 479.98px) {
	.main__slide {
		min-height: 500px;
	}
}
@media (max-wheight: 440px) {
	.main__slide {
		min-height: 350px;
	}
}
.main__bg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 5;
	cursor: pointer;
}
.main__contact {
	position: absolute;
	height: 100px;
	width: 100%;
	bottom: 0;
	left: 0;
	z-index: 10;
}
@media (max-width: 780.98px) {
	.main__contact {
		height: auto;
	}
}

.contact-main {
	background-color: #ffb600;
}
.contact-main__container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 35px 0px;
}
@media (max-width: 780.98px) {
	.contact-main__container {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		padding: 20px 0px;
		text-align: center;
	}
}
@media (max-height: 440px) {
	.contact-main__container {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		padding: 20px 0px;
		text-align: center;
	}
}
.contact-main__text {
	color: #ffffff;
	font-family: Poppins;
	font-size: 25px;
	font-weight: 400;
	margin: 0px 0px 15px 0px;
}
@media (max-width: 780.98px) {
	.contact-main__text {
		font-size: 18px;
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 100%;
		        flex: 1 1 100%;
	}
}
.contact-main__btn {
	border: 2px solid #fff;
}

.services {
	padding: 80px 0px;
}
@media (max-width: 780.98px) {
	.services {
		padding: 50px 0px 30px;
	}
}
@media (max-width: 479.98px) {
	.services {
		padding: 30px 0px 10px;
	}
}
.services__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	margin: 0px -15px;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.services__column {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 33.333%;
	        flex: 0 0 33.333%;
	padding: 0px 15px;
	margin: 0px 0px 20px 0px;
}
@media (max-width: 900px) {
	.services__column {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 50%;
		        flex: 0 0 50%;
	}
}
@media (max-width: 780.98px) {
	.services__column {
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 auto;
		        flex: 1 1 auto;
	}
}
.services__img {
	display: block;
	padding: 0px 0px 60% 0px;
	margin: 0px 0px 20px 0px;
}
.services__title {
	color: #1b273d;
	font-family: Poppins;
	font-size: 18px;
	font-weight: 600;
	display: block;
	margin: 0px 0px 25px 0px;
}
.services__text {
	color: #919191;
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
	margin: 0px 0px 16px 0px;
}

.top-block {
	text-align: center;
	margin: 0px 0px 50px 0px;
}
@media (max-width: 780.98px) {
	.top-block {
		margin: 0px 0px 30px 0px;
	}
}
.top-block__title {
	color: #1b273d;
	font-family: Poppins;
	font-size: 30px;
	font-weight: 400;
	text-transform: uppercase;
	margin: 0px 0px 20px 0px;
}
.projects {
	padding: 80px 0px;
}
@media (max-width: 780.98px) {
	.projects {
		padding: 50px 0px 50px;
	}
}
@media (max-width: 479.98px) {
	.projects {
		padding: 30px 0px 30px;
	}
}
.projects__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.projects__column {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 25%;
	        flex: 0 0 25%;
}
@media (min-width: 780.98px) {
	.projects__column:hover .projects__img:after {
		visibility: visible;
	}
	.projects__column:hover .projects__content {
		visibility: visible;
		opacity: 1;
	}
}
@media (max-width: 780.98px) {
	.projects__column {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 50%;
		        flex: 0 0 50%;
	}
}
@media (max-width: 479.98px) {
	.projects__column {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 100%;
		        flex: 0 0 100%;
	}
}
.projects__image {
	position: relative;
}
.projects__img {
	padding: 0px 0px 100% 0px;
	display: block;
	position: relative;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.projects__img:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #fab814;
	opacity: 0.9;
	visibility: hidden;
	cursor: pointer;
}
.projects__content {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	text-align: center;
}
.projects__search {
	width: 60px;
	height: 60px;
	border: 1px solid #ffffff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin: 0px 0px 30px 0px;
}
.projects__title {
	color: #ffffff;
	font-family: Poppins;
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	margin: 0px 0px 20px 0px;
}
.projects__label {
	color: #1b273d;
	font-family: Lato;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}

.why {
	padding: 80px 0px;
}
@media (max-width: 780.98px) {
	.why {
		padding: 50px 0px 50px;
	}
}
@media (max-width: 479.98px) {
	.why {
		padding: 30px 0px 30px;
	}
}
.spollers__item {
	background-color: #f8f8f8;
	margin: 0px 0px 10px 0px;
}
.spollers__title {
	color: #1b273d;
	font-family: Poppins;
	font-size: 16px;
	font-weight: 500;
	padding: 19px 0px 19px 70px;
	background: url("../img/icon/whyl.png") 22px 19px no-repeat;
}
.spollers__title.active {
	background: #ffb600 url("../img/icon/whyr.png") 22px 22px no-repeat;
}
.spollers__text {
	display: none;
	background-color: #f8f8f8;
	padding: 37px 55px;
	color: #919191;
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
}
.spollers__text:first-child {
	display: block;
}

.skill {
	background-color: #3d424d;
	padding: 80px 0px;
}
@media (max-width: 780.98px) {
	.skill {
		padding: 50px 0px 30px;
	}
}
@media (max-width: 479.98px) {
	.skill {
		padding: 30px 0px 10px;
	}
}
.skill__items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
@media (max-width: 900px) {
	.skill__items {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
}
.skill__item {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 50%;
	        flex: 0 0 50%;
	margin: 0px 0px 20px 0px;
}
@media (max-width: 900px) {
	.skill__item {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 100%;
		        flex: 0 0 100%;
		text-align: center;
	}
}
.skill__title {
	color: #ffffff;
	font-family: Poppins;
	font-size: 25px;
	font-weight: 400;
	line-height: 40px;
	margin: 0px 0px 8px 0px;
	max-width: 440px;
}
@media (max-width: 900px) {
	.skill__title {
		max-width: none;
	}
}
.skill__text {
	max-width: 400px;
	color: #ffffff;
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
}
@media (max-width: 900px) {
	.skill__text {
		max-width: none;
	}
}
.skill__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	margin: 0px -37px;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
@media (max-width: 1202px) {
	.skill__row {
		margin: 0px -17px;
	}
}
@media (max-width: 900px) {
	.skill__row {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
}
.skill__column {
	text-align: center;
	padding: 0px 37px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
@media (max-width: 1202px) {
	.skill__column {
		padding: 0px 17px;
	}
}
@media (max-width: 479.98px) {
	.skill__column {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 100%;
		        flex: 0 0 100%;
		margin: 0px 0px 20px 0px;
	}
}
.skill__img {
	width: 80px;
	height: 80px;
	border: 2px solid #ffb600;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin: 0px 0px 20px 0px;
}
.skill__digit {
	color: #ffffff;
	font-family: Poppins;
	font-size: 25px;
	font-weight: 400;
	margin: 0px 0px 3px 0px;
}
.skill__label {
	color: #ffffff;
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
}

.construction {
	background-color: #f8f8f8;
	padding: 80px 0px;
}
@media (max-width: 780.98px) {
	.construction {
		padding: 50px 0px 30px;
	}
}
@media (max-width: 479.98px) {
	.construction {
		padding: 30px 0px 10px;
	}
}
.construction__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin: 0px -15px;
}
@media (max-width: 1025.98px) {
	.construction__row {
		margin: 0px 5px;
	}
}
.construction__column {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 25%;
	        flex: 0 0 25%;
	padding: 0px 15px;
	margin: 0px 0px 20px 0px;
}
@media (max-width: 1025.98px) {
	.construction__column {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 33.333%;
		        flex: 0 0 33.333%;
		padding: 0px 5px;
	}
}
@media (max-width: 800px) {
	.construction__column {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 50%;
		        flex: 0 0 50%;
	}
}
@media (max-width: 600px) {
	.construction__column {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 100%;
		        flex: 0 0 100%;
	}
}
.construction__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-color: #fff;
	padding: 50px 21px;
	text-align: center;
}
.construction__img {
	width: 100px;
	height: 100px;
	border: 2px solid #ffb600;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin: 0px 0px 30px 0px;
}
.construction__title {
	color: #1b273d;
	font-family: Poppins;
	font-size: 18px;
	font-weight: 400;
	margin: 0px 0px 13px 0px;
}
.construction__text {
	color: #919191;
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
}

.map__google {
	min-height: 353px;
	width: 100%;
}